<div style= "margin-bottom: -5px" class="jumbotron bg-danger text-white jumbotron-fluid">
<h1 class="text-center"><strong>RPG Creator</strong></h1>
<h3 class="text-center"><code>Programar, Jogar e Estudar</code></h3>
</div>
<div class="container" style="width: 600px;">
<router-outlet></router-outlet>
<h2><strong>Não perca tempo, faça hoje seu RPG!</strong></h2><br>
<form #meuForm="ngForm" class="form-group">
    <input type="text"class="input form-control" placeholder="Nome Completo" type="text" name="nomeCompleto" [(ngModel)] = "this.usuario.nomeCompleto" required><br>
    <input type="text"class="input form-control" placeholder="Nickname" type="text" name="titulo" [(ngModel)] = "this.usuario.nomeUsuario" required><br>
    <input type="text"class="input form-control" placeholder="Email" type="text" name="enunciado" [(ngModel)] = "this.usuario.email" required><br> 
    <input type="text"class="input form-control" placeholder="Login" type="text" name="login" [(ngModel)] = "this.usuario.login" required> <br>
    <input type="text"class="input form-control" placeholder="Senha" type="text" name="senha" [(ngModel)] = "this.usuario.senha" required> <br>
    <p-dropdown [options]="tiposUsuario" [(ngModel)]="tipoUsuario" placeholder="Selecione seu tipo de usuário" name="tipoUsuario"></p-dropdown>
    <button class="btn btn-success" [disabled]="!meuForm.valid" style="float:right" (click)="cadastrarUsuario()" routerLink="/login">Cadastrar-se</button>
</form>
<p-growl [(value)]="msgs"></p-growl>
Já está cadastrado? Clique <a href="/">aqui</a> e siga para a tela de login!<br><br><br>

</div>
