<div class="container" style="width: 600px;">
<router-outlet></router-outlet>
<h2>Não perca tempo, faça hoje seu RPG!</h2><br>
<form #meuForm="ngForm" class="form-group">
    <input type="text"class="input form-control" placeholder="Nome Completo" type="text" name="nomeCompleto" [(ngModel)] = "this.usuario.nomeCompleto" required><br>
    <input type="text"class="input form-control" placeholder="Nickname" type="text" name="titulo" [(ngModel)] = "this.usuario.nomeUsuario" required><br>
    <input type="text"class="input form-control" placeholder="Email" type="text" name="enunciado" [(ngModel)] = "this.usuario.email" required><br> 
    <input type="text"class="input form-control" placeholder="Senha" type="text" name="enunciado" [(ngModel)] = "this.usuario.senha" required> <br>
    <button class="btn btn-success" [disabled]="!meuForm.valid" (click)="cadastrarUsuario()" routerLink="/home">Cadastrar-se</button>
</form>
</div>
