
<div class="container">

<!--Colocar o gráfico  
<p-chart type="bar" [data]="data"></p-chart>
-->
<h5>Seja bem-vindo #nomeDoUsuário</h5>

<div class="container">
  <div class="row">

    <div style="width: 400px;" >
      <br>
      <div class="border" style="width: 150px;">
        <br>
        <br>
        Foto
        <br>
        <br>
        <br>
        <br>
      </div>
      <br>
      <div style="width: 300px;">
      <h6>#pos {{usuario.nomeUsuario}}</h6>
      </div>
    </div>


    <div style="width: 700px;" class="border">
      <h6>Veja sua evolução no RPG!</h6>
           Gráfico Evolução
           
    </div>

  </div> 
</div>
<br>
Tava pensando em criar "Conquistas" para premiar os estudantes.
Ex.: "Conseguiu responder questões durante X dias";"Conseguiu responder Y  questões corretamente"