<app-cabecalho></app-cabecalho>
<div class="container">
    <router-outlet></router-outlet>
<h3 class="text-center"><strong>Todas Listas de Questões</strong></h3><br>

<p-dataTable [value]="listasQuestoes" selectionMode="single" [(selection)]="questaoSelecionada" (onRowSelect)="onRowSelect($event)" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <p-column field="id" header="#" [sortable]="true"></p-column>
    <p-column field="titulo" header="Título" [sortable]="true"></p-column>
    <p-column field="questoes.length" header="Qtde questões" [sortable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
        <button icon="fa-plus" style="float:right" class="btn btn-success"  routerLink="/criar-lista">+Lista</button>
        </div></p-footer>   
</p-dataTable>
