<router-outlet></router-outlet>
<app-cabecalho></app-cabecalho>
<br>
<h4 class="text-center"><strong>{{listaQuestoes.titulo}}</strong></h4><br>
<div class="container">
  Você já respondeu : {{carregarPercentualRespondido()}}% (em destaque)<br>
  Total de questões: {{listaQuestoes.questoes.length}}<br>
  Total respondido: {{totalRespondido()}}<br>
  Faltam {{diasRestantes()}} dias!(destaque)<br>
  Acaba em {{listaQuestoes.dataFim.toString()}}<br><br>
<p-dataTable [value]="carregarQuestoes()" selectionMode="single" [(selection)]="questaoSelecionada" (onRowSelect)="onRowSelect($event)" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <p-column field="titulo" header="Título" [sortable]="true"></p-column>
    <p-column field="enunciado" header="Enunciado" [sortable]="true"></p-column>
    <p-column field="" header="Foi respondida?" [sortable]="true"></p-column>
</p-dataTable>
</div>