<app-cabecalho></app-cabecalho>  
<div class="container">
<router-outlet></router-outlet>
<h3 class="centralizado"><strong>Inserir Questão</strong></h3>
<br>
<form #meuForm="ngForm" class="form-group">
<!--Para modificar a cor quando não preenchido = border border-warning, border border-danger-->
<input  placeholder="Digite o titulo da Questão" type="text"class="input form-control" type="text" name="titulo" [(ngModel)]="questao.titulo" required><br> 
<input  placeholder="Digite o enunciado da Questão" type="text"class="input form-control" type="text" name="enunciado" [(ngModel)]="questao.enunciado" required><br>
Digite três retornos esperados :   <br>
<table>
  <tr>
    <td><input name="primeiroRetorno.entrada" style="width: 550px;" placeholder="Entrada do primeiro caso" type="text" class="input form-control" type="text" [(ngModel)]="questao.retornosEsperados[0].entrada" required> </td>
    <td><input name="primeiroRetorno.saida" style="width: 550px;" placeholder="Saída do primeiro caso" type="text" class="input form-control" type="text" [(ngModel)]="questao.retornosEsperados[0].saida" required ></td>
  </tr> 

  <tr>
    <td><input name="segundoRetorno.entrada" placeholder="Entrada do segundo caso" type="text" class="input form-control" type="text" [(ngModel)]="questao.retornosEsperados[1].entrada" > </td>
    <td><input name="segundoRetorno.saida" placeholder="Saída do segundo caso" type="text" class="input form-control" type="text" [(ngModel)]="questao.retornosEsperados[1].saida" ></td>
  </tr>

  <tr>
    <td><input name="terceiroRetorno.entrada" placeholder="Entrada do terceiro caso" type="text" class="input form-control" type="text" [(ngModel)]="questao.retornosEsperados[2].entrada"> </td>
    <td><input name="terceiroRetorno.saida" placeholder="Saída do terceiro caso" type="text" class="input form-control" type="text" [(ngModel)]="questao.retornosEsperados[2].saida"></td>
  </tr>
</table><br>


Selecione o nivel de dificuldade:
    <select name="niveis" [(ngModel)]="questao.nivelDificuldade" required>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">Desafio</option>    
    </select>
<br><br>
<input  placeholder="Qual seria a dica para responder a Questão" type="text" class="input form-control"  type="text" name="dica" [(ngModel)]="questao.dica" required><br>
<!--Quando a Questão estiver completa, mudar a cor dos botões para verde -->
<button class="btn btn-success" style="float:left" [disabled]="!meuForm.valid" (click)="salvar()">Salvar e Criar nova</button>
<button class="btn btn-success" style="float:right" [disabled]="!meuForm.valid" routerLink="/listar-todas-crud"(click)="salvar()">Salvar e Listar</button>
<button class="btn btn-danger" style="float:none;text-center" [disabled]="!meuForm.valid" routerLink="/listar-todas-crud"(click)="deletar()" *ngIf="this.questao.id>=0">Deletar</button>
<p-growl [(value)]="msgs"></p-growl>

</form>
</div>
 