<div class="container" style="width: 600px;">
<router-outlet></router-outlet>
<h2><strong>Entre e faça hoje seu RPG!</strong></h2><br>
<form #meuForm="ngForm" class="form-group">
    <input type="text"class="input form-control" placeholder="Email ou Nickname" type="text" name="nomeCompleto" [(ngModel)] = "login" required><br>
    <input type="text"class="input form-control" placeholder="Senha" type="text" name="titulo" [(ngModel)] = "senha" required><br>
    <button class="btn btn-success" [disabled]="!(meuForm.valid && this.entrar)" (click)="verficarUsuario()" routerLink="/home">Entre</button>
</form>
Ainda não está cadastrado? Clique <a href="/cadastro">aqui</a> e cadastre-se!
</div>