<router-outlet></router-outlet>
<app-cabecalho></app-cabecalho>  
<div class="container">
<h3 class="centralizado"><strong>Inserir turma</strong></h3>
<br>
<form #meuForm="ngForm" class="form-group">
  Nome da turma :<input  placeholder="" type="text"class="input form-control" type="text" name="titulo" [(ngModel)]="turma.nome" required><br>
  Professor : {{turma.professorAdminstrador.nomeCompleto}}<br><br>
  Selecione os alunos : <br><br>

  <p-pickList [source]="alunos" [target]="turma.alunos" sourceHeader="Todos alunos" targetHeader="Aluno(s) selecionado(s)" [responsive]="true" filterBy="nomeCompleto" 
  dragdrop="true" dragdropScope="alunos" sourceFilterPlaceholder="Procure por turma" targetFilterPlaceholder="Procure por turma" [sourceStyle]="{'height':'200px'}" [targetStyle]="{'height':'200px'}" required>
      <ng-template let-aluno pTemplate="item">
        <div class="ui-helper-clearfix">
            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{aluno.nomeCompleto}}</div>
        </div>
      </ng-template>
  </p-pickList><br>

  <button class="btn btn-success" [disabled]="!meuForm.valid" (click)="salvar()">Salvar turma</button>

</form>
</div>
 