<app-cabecalho></app-cabecalho>  
<div class="container">
    <router-outlet></router-outlet>
<h3 class="text-center"><strong>Todas as Questões</strong></h3><br>

<p-dataTable [value]="questoes" selectionMode="single" [(selection)]="questaoSelecionada" (onRowSelect)="onRowSelect($event)" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <p-column field="id" header="#" [sortable]="true"></p-column>
    <p-column field="nivelDificuldade" header="Nível de Dificuldade" [sortable]="true"></p-column>
    <p-column field="titulo" header="Título" [sortable]="true"></p-column>
    <p-column field="enunciado" header="Enunciado" [sortable]="true"></p-column>
    <p-column field="dica" header="Dica" [sortable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%"><button icon="fa-plus" style="float:left" class="btn btn-success"  routerLink="/inserir">Add</button>
        <button icon="fa-plus" style="float:right" class="btn btn-success"  routerLink="/criar-lista">+Lista</button>
        </div></p-footer>   
</p-dataTable>

<p-dialog header="Questão Completa" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="questao">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="nivelDificuldade">Nível</label></div>
            <div class="ui-grid-col-8"><input pInputText id="nivelDificuldade" [(ngModel)]="questao.nivelDificuldade" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="titulo">Título</label></div>
            <div class="ui-grid-col-8"><input pInputText id="titulo" [(ngModel)]="questao.titulo" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="enunciado">Enunciado</label></div>
            <div class="ui-grid-col-8"><input pInputText id="enunciado" [(ngModel)]="questao.enunciado" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="dica">Dica</label></div>
            <div class="ui-grid-col-8"><input pInputText id="dica" [(ngModel)]="questao.dica" /></div>
        </div>
        <br>
        <div class="ui-grid-row text-center">
            <div class="ui-grid-col-8"><label for="dica">Casos de Teste:</label></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="casoTeste1Entrada">#1(entrada):</label></div>
            <div class="ui-grid-col-8"><input pInputText id="casoTeste1Entrada" [(ngModel)]="questao.retornosEsperados[0].entrada" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="casoTeste1Saida">#1(saida):</label></div>
            <div class="ui-grid-col-8"><input pInputText id="casoTeste1Saida" [(ngModel)]="questao.retornosEsperados[0].saida" /></div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="casoTeste2Entrada">#2(entrada):</label></div>
            <div class="ui-grid-col-8"><input pInputText id="casoTeste2Entrada" [(ngModel)]="questao.retornosEsperados[1].entrada" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="casoTeste1Saida">#2(saida):</label></div>
            <div class="ui-grid-col-8"><input pInputText id="casoTeste1Saida" [(ngModel)]="questao.retornosEsperados[1].saida" /></div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="casoTeste1Entrada">#3(entrada):</label></div>
            <div class="ui-grid-col-8"><input pInputText id="casoTeste1Entrada" [(ngModel)]="questao.retornosEsperados[2].entrada" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="casoTeste1Saida">#3(saida):</label></div>
            <div class="ui-grid-col-8"><input pInputText id="casoTeste1Saida" [(ngModel)]="questao.retornosEsperados[2].saida" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
</div>
<!--<h3 class="centralizado"><strong>Listar todas as questões</strong></h3><br>-->
  <!-- Default panel contents -->

<!--<router-outlet></router-outlet>

<table class="table" style="width: 1100px;">
  <thead>
    <tr>
      <th>#</th>
      <th style="width: 900px;">Missão</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let questao of cars">
      <th scope="row">1</th>
      <td routerLink="/visualizar">{{questao.titulo}}</td>
      <td><button class="btn bg-warning text-white" routerLink="/inserir">Editar</button></td>
      <td><button class="btn bg-danger text-white" (click)="eliminarQuestoes()">X</button></td>
    </tr>
  </tbody>
</table>
-->

  <!-- List group 
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let questao of questoes">
          primeiroRetorno
          <button class="btn bg-warning text-white" routerLink="">Editar</button>
          <button class="btn bg-danger text-white" (click)="eliminarQuestoes()">X</button>
          </li>
  </ul>
  -->

 <!--  
<p-dataTable [value]="questoes" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)">
    <p-column field="id" header="#"></p-column>
    <p-column field="titulo" header="Título"></p-column>
    <p-column field="nivelDificuldade" header="Nivel de Dificuldade"></p-column>
</p-dataTable>
-->

