<app-cabecalho></app-cabecalho>
<h4 class="text-center"><strong>Todas as turmas</strong></h4><br>
<div class="container">
<p-dataTable [value]="turmas" selectionMode="single" [(selection)]="turmaSelecionada" (onRowSelect)="onRowSelect($event)" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <p-column field="nome" header="Nome" [sortable]="true"></p-column>
    <p-column field="alunos.length" header="Qtde de alunos" [sortable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
        <button icon="fa-plus" style="float:right" class="btn btn-success"  routerLink="/turma/inserir">+Turma</button>
        </div></p-footer> 
</p-dataTable>
</div>