<div class="container" style="width: 600px;">
<router-outlet></router-outlet>
<h2>Não perca tempo, faça hoje seu RPG!</h2><br>
<form #meuForm="ngForm" class="form-group">
    <input type="text"class="input form-control" placeholder="Nome Completo" type="text" name="nomeCompleto" [(ngModel)] = "this.usuario.nomeCompleto" required><br>
    <input type="text"class="input form-control" placeholder="Nickname" type="text" name="titulo" [(ngModel)] = "this.usuario.nomeUsuario" required><br>
    <input type="text"class="input form-control" placeholder="Email" type="text" name="enunciado" [(ngModel)] = "this.usuario.email" required><br> 
    <input type="text"class="input form-control" placeholder="Senha" type="text" name="enunciado" [(ngModel)] = "this.usuario.senha" required> <br>
    <button class="btn btn-outline-dark" [disabled]="!meuForm.valid" (click)="cadastrarUsuario()" routerLink="/home">Cadastrar-se</button>
</form>

<!--
    Já é cadastrado? Clique <a href="login">aqui</a> e faça login!
    <form #meuForm="ngForm" class="form-group">
    Nome completo :
    !--Para modificar a cor quando não preenchido = border border-warning, border border-danger--
    <input type="text"class="input form-control" type="text" name="titulo" required>
    Nome de usuário :
    !--Para modificar a cor quando não preenchido = border border-warning, border border-danger--
    <input type="text"class="input form-control" type="text" name="titulo" required>

    Senha :
    <input type="text"class="input form-control" type="text" name="enunciado" required> 

    Confirme a Senha :
    <input type="text"class="input form-control" type="text" name="enunciado" required>

    E-mail :
    <input type="text"class="input form-control" type="text" name="enunciado" required> <br>
    <button class="btn btn-outline-dark" [disabled]="!meuForm.valid" routerLink="/home">Cadastrar-se</button>
</form>
--> 


</div>