<app-cabecalho></app-cabecalho>
<div class="container">
<router-outlet></router-outlet>
<br>
<h4 class="text-center"><strong>{{questaoRespondida.questao.titulo}}</strong></h4>
<strong>Nivel de dificuldade : {{questaoRespondida.questao.nivelDificuldade}} </strong><br><br>
<div class="card">
  <div class="card-body">
      <h5>{{questaoRespondida.questao.enunciado}}</h5>
  </div>
</div><br>

<table class="table table-bordered"> 
<thead>
    <tr>
      <th style="width: 550px;" class="text-center">{{questaoRespondida.questao.retornosEsperados[0].entrada}}</th>
      <th style="width: 550px;" class="text-center">{{questaoRespondida.questao.retornosEsperados[0].saida}}</th>
    </tr>
 </thead>   

  <tr>
    <td> {{questaoRespondida.questao.retornosEsperados[0].entrada}}</td>
    <td> {{questaoRespondida.questao.retornosEsperados[0].saida}}</td>
  </tr> 

  <tr>
    <td> {{questaoRespondida.questao.retornosEsperados[1].entrada}}</td>
    <td> {{questaoRespondida.questao.retornosEsperados[1].saida}}</td>
  </tr>

  <tr>
    <td> {{questaoRespondida.questao.retornosEsperados[2].saida}}</td>
    <td> {{questaoRespondida.questao.retornosEsperados[2].saida}}</td>
  </tr>
</table><br>
  <strong>Sua resposta:</strong><br>
  <div class="card">
  <div class="card-body">
    {{questaoRespondida.resposta}}
  </div>
  </div>
<br>
<strong>Comentários:</strong><br>
  <div class="card">
  <div class="card-body">
    {{questaoRespondida.comentario}}
  </div>
  </div>
  <br>
  <button class="btn btn-success "  style="float:left">Tentar novamente</button>
  <button class="btn btn-success"   style="float:right"routerLink="/corrigidas" >Ver outras correções</button>
