<app-cabecalho></app-cabecalho>  

<!--Depois adicionar Pontuação, Nível e Assunto-->
<div class="container">
<router-outlet></router-outlet>
<br>
<h4 class="text-center"><strong>{{questao.titulo}}</strong></h4>
<strong>Nivel de dificuldade : {{questao.nivelDificuldade}} </strong><br><br>
<div class="card">
  <div class="card-body">
      <h5>{{questao.enunciado}}</h5>
  </div>
</div><br>

<table class="table table-bordered"> 
<thead>
    <tr>
      <th style="width: 550px;" class="text-center">{{questao.retornosEsperados[0].entrada}}</th>
      <th style="width: 550px;" class="text-center">{{questao.retornosEsperados[0].saida}}</th>
    </tr>
 </thead>   

  <tr>
    <td> {{questao.retornosEsperados[0].entrada}}</td>
    <td> {{questao.retornosEsperados[0].saida}}</td>
  </tr> 

  <tr>
    <td> {{questao.retornosEsperados[1].entrada}}</td>
    <td> {{questao.retornosEsperados[1].saida}}</td>
  </tr>

  <tr>
    <td> {{questao.retornosEsperados[2].saida}}</td>
    <td> {{questao.retornosEsperados[2].saida}}</td>
  </tr>
</table><br>
<strong>Sua resposta:</strong><br>

<textarea [(ngModel)]="questaoRespondida.resposta" rows="15" cols="155" pInputTextarea></textarea>
<button class="btn btn-success" (click)="responder()">Responder</button>


  <!--
    <form #meuForm="ngForm" class="form-group">
<textarea [(ngModel)]="questaoRespondida.resposta" rows="15" cols="155" pInputTextarea></textarea>
<button class="btn btn-success" (click)="responder()">Responder</button>
</form>

    
    
     List group
  <ul class="list-group">
    <li class="list-group-item">primeiroRetorno</li>
    <li class="list-group-item">segundoRetorno</li>
    <li class="list-group-item">terceiroRetorno</li>
  </ul>
  -->
  <!--<p-rating [(ngModel)]="val"></p-rating>-->

</div><br>
<!-- ao clicar em responder, abrir uma caixa de texto, ou algo parecido, para o usuário submeter sua resposta-->
<!--Botão responder/editar de acordo com as permissões do usuário, ao clicar é redirecionado para a tela de inserir questão, com os campos preenchidos-->

<!-- validar a lógica para responder-->