<app-cabecalho></app-cabecalho>  
<div class="container">
<router-outlet></router-outlet>
<h3 class="text-center	"><strong>Crie sua lista de Questões</strong></h3>
<br>
<form #meuForm="ngForm" class="form-group">

<!--Para modificar a cor quando não preenchido = border border-warning, border border-danger-->
<input  placeholder=" Nome da Lista das Questões "type="text"class="input form-control" type="text" name="titulo" [(ngModel)]="titulo" required>
<br>

Selecione as questões : 
<table class="table" style="width: 1100px;">
  <thead>
    <tr>
      <th>#</th>
      <th style="width: 900px;">Missão</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let questao of questoes" class="{{cor}}">
      <th scope="row">{{questao.id}}</th>
      <td >{{questao.titulo}}</td>
        <div class="ui-g-12"><p-checkbox name="{{questao.id}}" value="{{questao.id}}" label="" [(ngModel)]="selectedQuestions" inputId="{{questao.id}}"></p-checkbox></div>
       <!-- no lugar deste selecionar seria melhor  colocar um checkbox?
      <td><button class="btn bg-warning text-white" (click)=mudarCor()>Selecionar</button></td>-->
    </tr>
  </tbody>
</table>


<div class="container">
  <div class="row">
    <div class="col ">
    Disponível a partir de :
    <br><p-calendar name="calendar"  [(ngModel)]="startDate" [showTime]="true" required></p-calendar>
    </div>
    <div class="col ">
    Disponível até :
     <br><p-calendar name="calendar"  [(ngModel)]="deadLine" [showTime]="true" required></p-calendar>
    </div>
  </div>
</div>
<br>

<br><br>

<button class="btn btn-success" [disabled]="!meuForm.valid" (click)="salvar()">Salvar Lista</button>
</form>
</div>

